<section class="miniBox ">
	<div class="miniboxHeader twitterHeader">
		Mentions
	</div>	
	<div class="miniboxBody scrollBar">
		<% @mentions_timeline.each do |tweet| %>
				<div class="tweet" id="<%=tweet.id%>">
					<div class="tweetImageBox">
						<%=image_tag src=tweet.user.profile_image_url, :class => "tweetImage" %>
					</div>
					<div class="tweetBody">
						<div class="tweetAuthor">
							<%=tweet.user.name%>
							<div class="username"> @<%=tweet.user.user_name%>
							</div>
						</div>
						<div class="tweetBodyText">
							<%=  tweet.text%>
						</div>
					</div>
					<div class="tweetFooter">
					</div>
						
				</div>
				<hr>
		<% end %>
		<div id="endofmentions"></div>
	</div>
</section>	