<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="foundation.min.css"/>
		<link rel="stylesheet" type="text/css"  href="css.css"/> -->
		 <%= stylesheet_link_tag    'application', media: 'all'%>
  		 <%= javascript_include_tag 'application'%>
  		 <%= csrf_meta_tags %>
  		 <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="superHeader" >
			<div>
					<% if @zonesToGo %>
						<% @zonesToGo.each do |zone| %>
						 , <%= link_to(zone, zone_path(:zone => zone)) %>
						<% end %>
					<% end %>

					<% if @zonesToAdd %>
						<%= link_to("Add Zone", new_zone_path) %>
					<% end %>
			      	Logged in as <strong><%= current_user.email %></strong>.
			      	<%= link_to 'Edit profile', edit_user_registration_path %> |
			      	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		    </div>
		</div>
		<div class="aside">
			<br />
			<% @networksUserCanGo.each do |network| %>
			<div class="asidebutton active_left"><br />
			<%= link_to(user_omniauth_authorize_path(network.to_sym)) do %>
  				<span class="icon-#{network} aside-internal-button"></span> 
			<% end %>

			</div>	
			<% end %>
		</div>
		<div class="box scrollBar">
			<%= yield %>
			
		</div>	


	</body>
</html>