<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="foundation.min.css"/>
		<link rel="stylesheet" type="text/css"  href="css.css"/> -->
		 <%= stylesheet_link_tag    'application', media: 'all'%>
  		 <%= javascript_include_tag 'application', media: 'all'%>
  		 <%= csrf_meta_tags %>
  		 <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	</head>

	<body>
		
		<div class="aside">
			<div class="asideContent">
			<% @networksUserCanGo.each do |network| %>
			<div class="asideButtonBox activeAside">
			<%= link_to(user_omniauth_authorize_path(network.to_sym)) do %>
  				<span class="icon-<%=network%> aside-internal-button"></span> 
			<% end %>

			</div>	
			<% end %>
			<div class="asideButtonBox icon-settings">
			</div>
		</div>
		</div>
	
			<%= yield %>
			
			


	</body>
</html>